/* start custom scss snippet */
.layout--landing {
  background-image: url('/assets/images/2025_Wyrmspace_KeyArt_16x9.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* end custom scss snippet */
