/* start custom scss snippet */
.header {
  background-image: url("/WaliWebsite/assets/images/BG_Yellow.png");
}

.header__logo {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.navigation__item {
  color: white;
  background-color: black;
}

marquee {
  background-color: #303030;
  font-style: italic;
}
/* end custom scss snippet */
