/* start custom scss snippet */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/assets/fonts/IBMPlexMono-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-image: url("/assets/images/BG_Yellow.png");
}

.article__header {
  position: relative; 
  height: 80vh;
  width: 100%;
}

.hero-video-wrapper {
  width: 100%;
  height: 100%;
}

.hero-video-wrapper iframe {
  width: 100%;
  height: 100%;
}


.page__header {
  top: 0;
  position: sticky;
  z-index: 10;
}

.navigation__item {
  color: white;
  background-color: black;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .hero {
    min-height: 70vh !important;
  }
}

.hero-2 {
  justify-items: center;
  justify-content: center;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
}

.grid-item-1,
.grid-item-2,
.grid-item-3 {
  justify-self: center;
}

.grid-item-1 {
  border-bottom: solid;
}

.grid-item-3 {
  border-top: solid;
}

marquee {
  background-color: #303030;
  font-style: italic;
  font-size: large;
}

.bio {
  font-size: small;
  text-align: left;
}

.contact {
  text-align: left;
  font-size: 2rem;
}

.contact a {
  color: white !important;
  background-color: black;
}

.social {
  text-align: left;
}

.social img {
  display:inline-block !important;
  height: 50px;
  width: auto !important;
  margin: 10px !important;
}

.footer {
  background-image: url("/assets/images/BG_Yellow.png");
  color: black;
  text-align: center;
}

.acknowledgement {
  margin: auto;
  display: inline;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
/* end custom scss snippet */
