/* start custom scss snippet */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/WaliWebsite/assets/fonts/IBMPlexMono-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-image: url("/WaliWebsite/assets/images/BG_Yellow.png");
}

.navigation__item {
  color: white;
  background-color: black;
}

marquee {
  background-color: #303030;
  font-style: italic;
}

.bio {
  font-size: small;
  text-align: left;
}

.contact {
  text-align: left;
  font-size: 2rem;
}

.social {
  text-align: left;
}

.social img {
  display:inline-block !important;
  height: 50px;
  width: auto !important;
  margin: 10px !important;
}

.footer {
  background-image: url("/WaliWebsite/assets/images/BG_Yellow.png");
  color: black;
  text-align: center;
}
/* end custom scss snippet */
